{% load static %}

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src=" {% static 'js/script.js' %} "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google</title>
  </head>
  <body>
    <form method="POST" action="search">
      {% csrf_token %}
      <div class="flex justify-center flex-col items-center w-screen h-screen">
        <div class="font-medium text-gray-700 text-[6rem] my-2">Google</div>
        <div
          class="border-2 border-gray-400 w-[30%] h-12 rounded-full overflow-hidden px-6 hover:bg-gray-100 hover:border-none transition-all ease-linear"
        >
          <input
            type="text"
            name="search"
            class="w-full h-full border-none outline-none text-sm bg-transparent"
            onclick="document.getElementsByName('Beat/Sta')[0].value='B01'"
          />
        </div>
        <div class="my-3">
          <button
            type="submit"
            class="rounded tracking-wider text-md px-8 py-1 bg-gray-500 text-white mb-40 mx-2"
          >
            Search
          </button>
          <a href="#"
            ><button
              class="rounded tracking-wider text-md px-8 py-1 bg-gray-500 text-white mb-40 mx-2"
            >
              I'm Feeling Lucky
            </button></a
          >
        </div>
      </div>
    </form>
  </body>
</html>
