 {% load static %}

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " />
    <script src=" {% static 'js/script.js' %} "></script>

</head>

 <div>
  <div class="flex p-6">
    <a href=" {% url 'home' %} ">
    <h1 class="mr-12 text-2xl font-medium">Google</h1>
    </a>
    <div class="w-[30rem] md:w-[45rem]">
      <!-- this is search bar -->
      <form action="search" method="POST">
        {% csrf_token %}
        <div class="ml- flex h-12 w-full items-center justify-around rounded-full bg-gray-200 px-4">
          <input type="text" name="search" class="h-full w-full bg-transparent p-2 outline-none"  value= " {{ search }} "/>
          <button type="submit" class="h-8 border-l-2 border-gray-400 pl-2">
            <span class="material-symbols-outlined pt-1 text-gray-500 transition-all duration-300 hover:text-gray-800"> search </span>
          </button>
        </div>
      </form>
      <!-- form end here -->
      <div class="relative mt-4">
        <span class=" border-b-4 border-gray-500 pt-1 text-gray-800">Web</span>
        <div class="absolute bottom-0 left-0 w-screen border-b-2 border-gray-200"></div>
      </div>
      <!-- searched content here  -->
      <div class="g my-3 w-[45rem]">
        <!-- recommendation section -->
        <div class="grid w-full grid-cols-2 grid-rows-5 mt-6">
            {% for rel in related_results %}
          <div class="h-7 w-full  px-3 ">
            <a href=" {{ rel.rel_url }} " class=' text-[#1a0da1] underline '>{{ rel.rel_title }}</a>
          </div>
          {% endfor %}
        </div>
        <!-- recommendation ends here -->
        <!-- actual content -->
        <div class="my-4 h-fit">
          <!-- single palette for each res -->
          {% for res in results %}
          <div class="w-full  my-6">
            <p class=" text-sm font-light text-gray-900 overflow-hidden h-[20px] "><span class=" w-[18ch]  "> {{ res.res_url }}</span>&nbsp...</p>
            <a href=" {{ res.res_url }} " class="text-lg text-[#1A0DA9]"> {{ res.res_title }} </a>
            <p class="text-sm text-gray-500 "> {{ res.res_desc }} </p>
          </div>
          {% endfor %}
        </div>
        <!-- content ends here -->
      </div>
    </div>
  </div>
</div>
